html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    min-width: 600px;
    background: none;
}

body {
    border: 1px solid black;
}

.container-right {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    background: #9ac9f8;
}

.container-left {
    height: 100%;
    width: 75%;
    margin: 0;
    padding: 0;
    position: absolute;
    box-sizing: border-box;
    background: #f8f4bf;
    border-radius: 0px 100% 100% 0;
}

.container-content {
    margin: 0;
    padding: 15px;
    position: inherit;
}

.container-tab {
    overflow: hidden;
    background: none;
}

.container-content-ul {
    display: none;
    padding: 0 5px;
    border: 1px solid #2e4d6d;
}

.container-content-ul-home {
    display: block;
}

input {
    width: 100%;
    margin-bottom: 4px;
    padding: 10px;
    position: inherit;
    box-sizing: border-box;
    border: 1px solid #2e4d6d;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.push-btn {
    margin: 15px 0 10px 0;     
    padding: 8px 12px;
    background: #5086bd;
    color: white;
    position: relative;
    letter-spacing: 0.7px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #2e4d6d;
    border-radius: 5px;
    text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.4);
}

.push-btn:active {
    transform: translateY(1px);
}

.tab,
.__tab_create__ {    
    background: #9ac9f8;
    color: #242424;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.tab,
.tab:hover {
    float: left;
    margin: 0;
    padding: 10px 24px;
    border-top: 1px solid #2e4d6d;
    border-right: 1px solid #2e4d6d;
    border-bottom: none;
    cursor: pointer;
    text-decoration: none;
}

.__tab_create__,
.__tab_create__:hover {
    font-size: 19px;
    float: left;
    margin: 0;
    padding: 6px 10px;
    border-top: 1px solid #2e4d6d;
    border-right: 1px solid #2e4d6d;
    border-bottom: none;
    cursor: pointer;
    text-decoration: none;
}

.__tab_create__,
.__tab_create__:hover {
    border-left: 1px solid #2e4d6d;
}

.tab:hover,
.tab:focus,
.tab:active,
.__tab_create__:hover,
.__tab_create__:focus,
.__tab_create__:active,
.__tab_active__ {
    background: #5086bd;
    color: whitesmoke;
    text-shadow: 1px 1px 1px rgba(1, 1, 1, 0.4);
}

.btn-lead {
    padding: 0 2px;
    background: none;
    border: none;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(1, 1, 1, 0.4);
}

.delete-lead:active,
.copy-lead:active {
    transform: translateY(1px);
}

ul {
    margin-top: 10px;
    padding-left: 0;
    list-style: none;
}

li {
    margin-top: 5px;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
