body {
    margin: 0;
}

/* solution with h1 only */

h1 {
    background-color: #281B2D;
    color: #fff;
    text-align: center;
    font-size: 72px;
    margin-top: 0;
    padding: 25px 0;
}

ol {
    margin-left: 30px;
    padding: 0 10px;
}

a {
    color: #9138B7;
}

a:hover {
    color: red;
}

/* solution with header styled */

/* header {
    background-color: #281B2D;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 72px;
    margin: 0;
} */

.subhead {
    background-color: #281B2D;
    color: #FCD801;
    font-size: 48px;
    padding: 20px;
    border-bottom: 5px solid #00C54C;
    margin: 0;
}

.white-text { color: #fff; }

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.columns {
    display: flex;
}

.main-content {
    width: 65%;
    margin-right: 5%;
}

.sidebar {
    width: 30%;
    background: #9AE84F;
    padding: 0;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1), 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}

.col-right {
    margin-left: 25px;
}

.source {
    margin-left: 5px;
    padding: 0 10px;
    font-size: 14px;
}
