html, body {
    background: #2E354F;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.container {
    background: inherit;
    margin: 0;
    padding: 30px 65px;
}

.container-section-one-div {
    background: #FFF;
}

.container-section-two-div {
    color: #FFF;
}

.section-div,
.header-div {
    width: 620px;
    margin: 0 auto;
}

h1, h2, b {
    font-weight: 900;
}

h1 {
    color: #FFF;
    font-size: 36px;
}

h2 {
    color: #EF5839;
    font-size: 24px;
}

.link,
.link:visited {
    color: #EF5839;
}

.link:focus,
.btn:focus {
    background: lavender;
    color: seagreen;
}

.link:hover {
    color: palevioletred;
}

.btn {
    display: inline-block;
    margin-right: 20px;
    padding: 12px 30px 16px 30px;
    font-weight: 700;
    text-decoration: none;
}

.btn:hover {
    background: palevioletred;
    color: white;
}

.btn-dark {
    background: #EF5839;
    color: #FFF;
}

.btn-light {
    background: #FFF;
    color: #ef5839;
}